body {
  background-color: rgba(20, 20, 20, 0.87);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .heading{
  margin: auto;
  margin-bottom: 35px;
  padding: 32px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.9rem;
  font-weight: 500;
  color: rgb(46, 14, 77);
  background-color: rgb(113, 102, 124);
  
}
.cards{
  
  width: 100%;
  height: auto;
}
.card{
  
  margin: 6%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: blueviolet;
  width: 21.24%;
  border-radius: 15px;
  box-shadow: 0px 14px 10px -7px rgb(58, 41, 57);
  float: left;


}
.card:hover{
  box-shadow: 0px 30px 18px -8px rgb(39, 25, 32);
  transform: scale(1.05,1.05);
}
.card_img{
  width: 100%;
  height: 235px;
  border-top-left-radius:12px ;
  border-top-left-radius:12px ;
 
}
.card_info{
  text-align: center;
  background-color: rgb(134, 87, 179);
  border-bottom-left-radius:12px ;
}
.card_category{

 
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  color: rgb(50, 41, 59);
  background-color: rgb(184, 154, 212);
}
button{

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 550;
  color: rgb(57, 50, 63);
  background-color: rgb(204, 130, 219);
  outline: none;
  border: 1px solid rgb(49, 1, 49);
 border-radius: 18px;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 3px;
}

@media only screen and (max-width: 900px) {
  .card{
    width: 36%;
  }
}
@media only screen and (max-width: 500px) {
  .card{
    
    width: 85%;
  }
} */


/* new star */




div{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(253, 250, 255);
  font-size: 70pt;
  text-shadow: 2px 4px rgb(112, 111, 111);
}
p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(253, 250, 255);
  font-size: 20pt;
  text-shadow: 2px 2px rgb(112, 111, 111);
}
button{
  padding: 10px 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(65, 64, 64);
  font-size: 40pt;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  background-color: rgb(207, 213, 218);
  border-radius: 33px;
  margin: 2px solid rgb(255, 255, 255);
  
}
input{
  outline: none;
  background-color: rgb(207, 213, 218);
  font-size: 20px;
  color: rgb(43, 41, 41);
  padding: 7px 24px;
  font-size: 35pt;
  border-radius: 34px;
  margin-bottom: 19px;
  box-shadow: 2px 3px rgb(112, 111, 111);

}

